/*Header flex*/

body {
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;  
    justify-content: space-between;
    padding: 10px 150px 10px 150px;
    align-items: center;
    flex: 1;
}

.right-links > ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    color: #E5E7EB;
}

.logo {
    width: 300px;
    height: 60px;
} 

/*Hero flex*/

.main-title {
    background-color: #1F2937;
    display: flex;
    height: 400px;  
    padding: 50px 150px 115px 150px;
    align-items: flex-start; 
    gap: 30px;
}

.hero-text > h1 {
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    
}

.hero-text > p { 
    margin-top: 0;
    font-size: 18px;
    color: #E5E7EB;

}
.main-title > img {
    border: 10px solid white;
    max-width: 600px; 
}

.button1 {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    font-weight: bold;
    border: 0;
    border-radius: 4px;
    
}